
<%= form_for(@attendance) do |f| %>
<div class="field">
  <%= f.label :trip_id %><br />
  <%= f.text_field :trip_id%>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<h5><%= link_to "Go Back to Home", root_path%></h5>
