<div class="new-article-form callout">
<%= form_for(@attendance) do |f| %>
<div class="field">
  <%= f.label :trip_id, 'Trip ID' %><br />
  <%= f.text_field :trip_id%>
</div>

<div class="field">
  <%= label :password, 'Enter Trip Password' %><br />
  <%= text_field_tag :password%>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
</div>

<h5><%= link_to "Go Back to Home", root_path%></h5>
