<!DOCTYPE html>
<html>
<head>
  <title>InteractiveItinerary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA55jmLHtOaXD1oNo1azyznIrvTnTewjvg&libraries=places"></script>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_pack_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Interactive Itinerary</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_host -%>
        <li><%= link_to 'Manage Trips', trips_path %></li>
        <li><%= link_to 'Host a Trip', new_trip_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- elsif current_user -%>
        <li><%= link_to 'Join Trip', new_attendance_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
        <li><%= link_to 'Become a Host', new_host_registration_path %></li>
        <li><%= link_to 'Sign in as Host', new_host_session_path %></li>
        <li><%= link_to 'Sign Up as Attendee', new_user_registration_path %></li>
        <li><%= link_to 'Sign In as Attendee', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>
  <div>
    <%- if !current_host && !current_user -%>
    Sign in to use Interactive Itinerary
    <%- end -%>
    <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <%- end -%>
  </div>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
