<!DOCTYPE html>
<html>
<head>
  <title>InteractiveItinerary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">InteractiveItinerary</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_host -%>
        <li><%= link_to 'Trip Invitations', trips_path %></li>
        <li><%= link_to 'Host a Trip', new_trip_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- elsif current_user -%>
          <li><%= link_to 'Join Trip', new_attendance_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Become a Host', new_host_registration_path %></li>
          <li><%= link_to 'Sign in as Host', new_host_session_path %></li>
          <li><%= link_to 'Sign Up as Attendee', new_user_registration_path %></li>
          <li><%= link_to 'Sign In as Attendee', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
